# -------------------------------------------------
# Python
# -------------------------------------------------
__pycache__/
*.py[cod]

# -------------------------------------------------
# Virtual Environments
# -------------------------------------------------
.venv/
venv/
env/

# -------------------------------------------------
# Generated Outputs
# -------------------------------------------------
output/
reports/
logs/

# -------------------------------------------------
# IDE
# -------------------------------------------------
.vscode/
.idea/

# -------------------------------------------------
# Operating System
# -------------------------------------------------
.DS_Store
Thumbs.db
desktop.ini

# -------------------------------------------------
# Temporary Files
# -------------------------------------------------
*.tmp
*.log